In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('cotacoes_concatenadas.parquet')

df.head()

,data_pregao,cod_negociacao,tipo_mercado,nome_empresa,especificacao,moeda,preco_abertura,preco_maximo,preco_minimo,preco_medio,preco_fechamento,qtd_negocios,volume
0,2020-01-02,AALR3,10,ALLIAR,ON NM,R$,18.29,19.00,18.28,18.68,19.00,2443,10946196
1,2020-01-02,AAPL34,10,APPLE,DRN,R$,120.00,121.34,120.00,120.73,121.34,9,1533380
2,2020-01-02,ABCB4,10,ABC BRASIL,PN EJ N2,R$,20.00,20.30,19.82,20.05,20.30,3979,17457878
3,2020-01-02,ABEV3,10,AMBEV S/A,ON EJ,R$,18.86,19.25,18.78,19.12,19.20,31581,306234791
4,2020-01-02,ADHM3,10,ADVANCED-DH,ON,R$,2.55,2.55,2.35,2.44,2.48,307,471927

In [3]:
df.isnull().sum()

data_pregao         0
cod_negociacao      0
tipo_mercado        0
nome_empresa        0
especificacao       0
moeda               0
preco_abertura      0
preco_maximo        0
preco_minimo        0
preco_medio         0
preco_fechamento    0
qtd_negocios        0
volume              0
dtype: int64

In [4]:
df.dtypes

data_pregao          object
cod_negociacao       object
tipo_mercado          int64
nome_empresa         object
especificacao        object
moeda                object
preco_abertura      float64
preco_maximo        float64
preco_minimo        float64
preco_medio         float64
preco_fechamento    float64
qtd_negocios          int64
volume                int64
dtype: object

In [5]:
df.describe()

,tipo_mercado,preco_abertura,preco_maximo,preco_minimo,preco_medio,preco_fechamento,qtd_negocios,volume
count,1.009393e+07,1.009393e+07,1.009393e+07,1.009393e+07,1.009393e+07,1.009393e+07,1.009393e+07,1.009393e+07
mean,6.006788e+01,7.979227e+01,8.129003e+01,7.836307e+01,7.977799e+01,7.982146e+01,4.526827e+02,3.492000e+06
std,2.628525e+01,1.802942e+03,1.805855e+03,1.800432e+03,1.803020e+03,1.803234e+03,3.008783e+03,5.996093e+07
min,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-02,0.000000e+00,1.000000e+00,0.000000e+00
25%,3.000000e+01,2.800000e-01,3.100000e-01,2.500000e-01,2.700000e-01,2.700000e-01,2.000000e+00,7.470000e+02
50%,7.000000e+01,1.280000e+00,1.370000e+00,1.190000e+00,1.270000e+00,1.280000e+00,5.000000e+00,6.863000e+03
75%,8.000000e+01,7.800000e+00,7.950000e+00,7.650000e+00,7.790000e+00,7.800000e+00,2.600000e+01,6.458900e+04
max,8.000000e+01,5.000000e+05,5.000000e+05,5.000000e+05,5.000000e+05,5.000000e+05,9.999800e+04,4.298380e+10

In [6]:

y = df["preco_medio"]

print("Tem NaN?", y.isna().sum())
print("Tem inf?", np.isinf(y).sum())
print("Valores > 100_000:", (y > 100_000).sum())  # >100 mil pode ser fora do padrão

Tem NaN? 0
Tem inf? 0
Valores > 100_000: 1678

In [ ]:
df[df['preco_medio'] > 100000]['cod_negociacao'].value_counts()

cod_negociacao
IBOV11       54
IBOVP300     12
IBOVR300     12
IBOVF10       6
IBOVJ10       5
             ..
IBOVX134E     1
IBOVV170E     1
IBOVV15E      1
IBOVV144E     1
IBOVV143E     1
Name: count, Length: 1001, dtype: int64

: