In [4]:
import pandas as pd

# 1. Carregar os arquivos de 2017 e 2018
df_2017 = pd.read_csv("C:/Users/Colaborador/Documents/projetos/FinSimples/analise/datasets/cotacoes_resumidas_2017.csv", sep="\t")
df_2018 = pd.read_csv("C:/Users/Colaborador/Documents/projetos/FinSimples/analise/datasets/cotacoes_resumidas_2018.csv", sep="\t")

df_2017.head()

  data_pregao,cod_negociacao,tipo_mercado,nome_empresa,especificacao,moeda,preco_abertura,preco_maximo,preco_minimo,preco_medio,preco_fechamento,qtd_negocios,volume
0  2017-01-02,AALR3,010,ALLIAR,ON      NM,R$,14.6...
1  2017-01-02,ABCB2,010,ABC BRASIL,DIR PRE N2,R$,...
2  2017-01-02,ABCB4,010,ABC BRASIL,PN  EJS N2,R$,...
3  2017-01-02,ABCB4F,020,ABC BRASIL,PN  EJS N2,R$...
4  2017-01-02,ABCP11,010,FII ABC IMOB,CI  ER,R$,1...

In [5]:
import pandas as pd

# 1. Carregar os arquivos de 2017 e 2018
df_2017 = pd.read_csv("C:/Users/Colaborador/Documents/projetos/FinSimples/analise/datasets/cotacoes_resumidas_2017.csv", sep=",")
df_2018 = pd.read_csv("C:/Users/Colaborador/Documents/projetos/FinSimples/analise/datasets/cotacoes_resumidas_2018.csv", sep=",")

# 2. Concatenar os dados
df = pd.concat([df_2017, df_2018], ignore_index=True)

# 3. Converter data para datetime
df['data_pregao'] = pd.to_datetime(df['data_pregao'])

# 4. Remover 'R$' e converter colunas numéricas
preco_cols = ['preco_abertura', 'preco_maximo', 'preco_minimo', 'preco_medio', 'preco_fechamento']
df[preco_cols] = df[preco_cols].replace('R\$', '', regex=True).astype(float)

# 5. Agrupar por código e por semana
df.set_index('data_pregao', inplace=True)
df_weekly = df.groupby('cod_negociacao').resample('W').agg({
    'preco_abertura': 'first',
    'preco_maximo': 'max',
    'preco_minimo': 'min',
    'preco_fechamento': 'last',
    'volume': 'sum',
    'qtd_negocios': 'sum',
    'preco_medio': 'mean',
    'nome_empresa': 'first',
    'tipo_mercado': 'first',
    'especificacao': 'first',
    'moeda': 'first'
}).reset_index()

# 6. Resultado
print(df_weekly.head())

<>:15: SyntaxWarning: invalid escape sequence '\$'
<>:15: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Colaborador\AppData\Local\Temp\ipykernel_12184\309393976.py:15: SyntaxWarning: invalid escape sequence '\$'
  df[preco_cols] = df[preco_cols].replace('R\$', '', regex=True).astype(float)

  cod_negociacao data_pregao  preco_abertura  preco_maximo  preco_minimo  \
0         AALL34  2017-03-12          140.91        141.31        139.79
1         AALL34  2017-03-19          134.07        134.07        134.07
2         AALL34  2017-03-26          128.05        128.05        128.05
3         AALL34  2017-04-02             NaN           NaN           NaN
4         AALL34  2017-04-09             NaN           NaN           NaN

   preco_fechamento   volume  qtd_negocios  preco_medio  nome_empresa  \
0            139.79  2712808             3      140.545  AMERICAN AIR
1            134.07  1756317             1      134.070  AMERICAN AIR
2            128.05    51220             1      128.050  AMERICAN AIR
3               NaN        0             0          NaN          None
4               NaN        0             0          NaN          None

   tipo_mercado especificacao moeda
0          10.0           DRN    R$
1          10.0           DRN    R$
2          10.0           DRN    R$
3           NaN          None  None
4           NaN          None  None

In [26]:
import pandas as pd

# 1. Carregar dados
df_2017 = pd.read_csv("C:/Users/Colaborador/Documents/projetos/FinSimples/analise/datasets/cotacoes_resumidas_2017.csv", sep=",")
df_2018 = pd.read_csv("C:/Users/Colaborador/Documents/projetos/FinSimples/analise/datasets/cotacoes_resumidas_2018.csv", sep=",")


# 2. Concatenar
df = pd.concat([df_2017, df_2018], ignore_index=True)

# 3. Converter datas
df['data_pregao'] = pd.to_datetime(df['data_pregao'])

# 4. Remover R$ e converter preços
preco_cols = ['preco_abertura', 'preco_maximo', 'preco_minimo', 'preco_medio', 'preco_fechamento']
df[preco_cols] = df[preco_cols].replace('R\$', '', regex=True).astype(float)

# 5. Criar coluna 'ano' e 'semana'
df['ano'] = df['data_pregao'].dt.isocalendar().year
df['semana'] = df['data_pregao'].dt.isocalendar().week

# 6. Agrupar manualmente por ação + ano + semana
df_semana = df.groupby(['cod_negociacao', 'ano', 'semana']).agg({
    'data_pregao': 'first',
    'preco_abertura': 'first',
    'preco_maximo': 'max',
    'preco_minimo': 'min',
    'preco_fechamento': 'last',
    'preco_medio': 'mean',
    'volume': 'sum',
    'qtd_negocios': 'sum',
    'nome_empresa': 'first',
    'tipo_mercado': 'first',
    'especificacao': 'first',
    'moeda': 'first'
})

# 7. Ajustar o multi-index
# df_semana.columns = ['_'.join(col).strip() for col in df_semana.columns.values]
df_semana = df_semana.reset_index()

# 8. Se quiser, criar uma data de referência (como o início da semana)
# df_semana['data_pregao'] = df_semana['data_pregao_first']
# df_semana.drop(columns=['data_pregao_first', 'data_pregao_last'], inplace=True)

<>:16: SyntaxWarning: invalid escape sequence '\$'
<>:16: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Colaborador\AppData\Local\Temp\ipykernel_12184\1529795091.py:16: SyntaxWarning: invalid escape sequence '\$'
  df[preco_cols] = df[preco_cols].replace('R\$', '', regex=True).astype(float)

In [27]:
df_semana.to_csv("acoes_semanais2017_2018.csv", index=False)

In [28]:
df_semana.isnull().sum()

cod_negociacao      0
ano                 0
semana              0
data_pregao         0
preco_abertura      0
preco_maximo        0
preco_minimo        0
preco_fechamento    0
preco_medio         0
volume              0
qtd_negocios        0
nome_empresa        0
tipo_mercado        0
especificacao       0
moeda               0
dtype: int64

In [17]:
df_semana.shape

(391124, 17)

In [10]:
df_2017.isnull().sum()

data_pregao         0
cod_negociacao      0
tipo_mercado        0
nome_empresa        0
especificacao       0
moeda               0
preco_abertura      0
preco_maximo        0
preco_minimo        0
preco_medio         0
preco_fechamento    0
qtd_negocios        0
volume              0
dtype: int64

In [11]:
df_2018.isnull().sum()

data_pregao         0
cod_negociacao      0
tipo_mercado        0
nome_empresa        0
especificacao       0
moeda               0
preco_abertura      0
preco_maximo        0
preco_minimo        0
preco_medio         0
preco_fechamento    0
qtd_negocios        0
volume              0
dtype: int64

In [12]:
df_2017.shape

(489115, 13)

In [13]:
df_2018.shape

(580155, 13)